* {
  background-color: lightblue;
}

body {
  margin: 0;
  padding: 0;
}

p  {
  margin: 0;
  padding: 0
}

.circle {
  -webkit-box-shadow: 0px 0px 106px 8px rgba(84,134,209,1);
  -moz-box-shadow: 0px 0px 106px 8px rgba(84,134,209,1);
  box-shadow: 0px 0px 106px 8px rgba(84,134,209,1);
}